*{
	box-sizing: border-box;
}

body{
	margin-top:10px;
	padding:0;
	background-image: url('image.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height:620px;
	overflow:hidden;
}
 @import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.resultOverlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
}

.overlay li {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    text-align: center;
    display: block;
    transition: 0.3s;
    text-transform: capitalize;
}

.overlay li:hover{
    color: #f1f1f1;
}

.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#timer{
	/*border: 1px solid blue;*/
	background-color:#192F3D;
	width:15%;
	margin: 0px auto;
	color: white;
	border-radius: 20px;
	font-size: 35px;
	font-weight: bolder;
	text-align: center;
	font-family: roboto;
}

#rules{
	font-size:30px;
	cursor:pointer;
	color: white;
	font-family: roboto;
	font-weight: bolder;
}

#scoreboard{
	color: white;
	font-family: roboto;
	font-size: 25px;
	font-weight: bolder;
	position: absolute;
	right: 50px;
	top:0;	
}

#scoreboard sup{
	font-size: 10px;
}

#quiz-container{
	width:50%;
	background-color:skyblue;
	margin:10px auto;
	padding: 50px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

#quiz-ques{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	min-height: 50px;
	padding: 5px;
	font-family: roboto;
	font-weight: bolder;
	font-size: 125%;
	background-color:#192F3D;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	text-transform: capitalize;	
	margin-bottom: 1px;
}

#quiz-options{ 
	width:100%;
}

.option{
	width:45%;
	margin:13px;
	border: 1px solid black;
	background-color: #4E9DB4;
	min-height: 55px;
	padding: 2px;
	float: left;
	text-align: center;
	font-weight: bolder;
	font-family: mali;
	font-size: 120%;
	border-radius: 10px;
	box-shadow: 4px 4px 4px black; 
}

.option:hover{
	cursor: pointer;
	background-color:#45798F; 
	transition: background-color .4s;
}

.style{
	transition: background-color 1s;
}

#email-info{
	color: white;
	font-weight: bolder;
	font-family: mali;
	margin-top: 22%;
	width: 250px; 
}

#next{
	/*position: absolute;
	bottom:18%;
	right: 25%;*/
	margin-left: 68%;
	padding: 5px;
	width: 100px;
	background-color: green;
	border: 1px solid green;
	font-weight: bolder;
	font-family: mali;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
}

#repeat{
	margin-left: 68%;
	margin-top: 4px;
	padding: 5px;
	width: 100px;
	background-color: red;
	border: 1px solid red;
	font-weight: bolder;
	font-family: mali;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
}

#next:hover{
	background-color: #17E32C;
}

#myProgress {
    width: 50%;
    margin:6% auto 0 auto;
    background-color:#192F3D;
    border-radius: 50px;
}
#myBar {
    width: 0%;
    height: 30px;
    background-color: #45798F;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
    transition: width 1s;
    border-radius: 5px;
}

#rate-app{
	color: white;
	position: absolute;
	right: 3px;
	bottom: 12px
}

#go-back{
	position:fixed;
	bottom: 0;
	font-size: 25px;
	font-family: roboto;
	font-weight: bolder;
}

#go-back a:link {
    color: #45798F;
}

/* visited link */
#go-back a:visited {
    color:#45798F;
}

/* mouse over link */
#go-back a:hover {
    color: #45798F;
}

/* selected link */
#go-back a:active {
    color:#45798F;
}

@media screen and (max-width: 1300px){
	#quiz-container{width: 60%;}
	.option{width: 42%}
}

@media screen and (max-width: 1100px){
	#quiz-container{width: 70%;}
	.option{width: 43%}
}

@media screen and (max-width: 840px){
	#quiz-container{width: 75%;}
	.option{width: 40%;}	
	#scoreboard{font-size: 20px;right:20px;}
	#timer{width: 30%;font-size: 25px;}
	#quiz-ques{padding: 2px;font-size: 100%;}
}

@media screen and (max-width: 570px){
	/*body{overflow: visible;}*/
	#quiz-container{width: 85%;margin-top: 5%;}
	.option{width: 95%;float: none;}
	#scoreboard{font-size: 15px;right:8px;top:0;}
	#quiz-ques{padding: 1px;font-size: 95%;}
	#timer{width: 25%;font-size: 25px;font-weight: normal;position: absolute;top:3px;margin-left: 30%}
	#myProgress{width: 70%;margin-top: 15%;}
	#rules{font-size: 20px;position:absolute;left:0;top:10px;}
}

@media screen and (max-width: 380px){
	body{overflow: visible;}
	#quiz-container{width: 100%;}
	.option{width: 100%;float: none;}
	#scoreboard{font-size: 15px;right:7px;margin-bottom: 5px;}
	#quiz-ques{font-size: 90%;width: 100%;margin:0 auto;}
	#timer{width: 45%;font-size: 20px;font-weight: normal;position: absolute;top:5px;margin-left: 18%}
	#myProgress{width: 65%;}
	#rules{font-size: 16px;position:absolute;top: 10px;}
	#email-info{display: none;}	
	#score-category{display: none;}
	#rate-app{position: relative;}
	#go-back{position: relative;}
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

